

<table>
    <tr>
        <th *ngFor="let columna of columnsToDisplay">{{columna}}</th>
    </tr>
    <tr *ngFor="let elemento of listadoPlanetas">
        <td>{{elemento.name}}</td>
        <td>{{elemento.rotation_period}}</td>
        <td>{{elemento.orbital_period}}</td>
        <td>{{elemento.diameter}}</td>
        <td>{{elemento.climate}}</td>
        <td>{{elemento.gravity}}</td>
        <td>{{elemento.terrain}}</td>
        <td>{{elemento.surface_water}}</td>
        <td>{{elemento.population}}</td>
    </tr>
</table>
